name: Playwright CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      
      - name: Start services with Docker
        run: |
          cd example-4
          docker compose up -d
          sleep 15

      - name: Install dependencies
        run: |
          cd example-4
          npm install

      - name: Install Playwright browsers
        run: |
          cd example-4
          npx playwright install

      - name: Run Playwright tests
        run: |
          cd example-4
          npm test
